<script>
    window.onload = function () {
        let random_int = Math.round(Math.random() * 2352);
        if (random_int === 404) {
            alert("You're some randomly (un)lucky person");
        }
        fetch(`https://cors-anywhere.herokuapp.com/https://xkcd.com/${random_int}/info.0.json`).then(function (xkcd_res) {
            return xkcd_res.json();
        }).then(function (xkcd_json) {
            document.getElementById("random_xkcd_img").src = xkcd_json.img;
            document.getElementById("random_xkcd_img").alt = xkcd_json.alt;
            document.getElementById("random_xkcd_anchor").href = "https://xkcd.com/" + random_int;
            document.getElementById("random_xkcd_caption").innerHTML = "<h4>" + xkcd_json.safe_title + "</h4>";
        });
    };
</script>
<div class = "xkcd-img">
  <h3 class = "no_toc">Here's a random <a href = "https://xkcd.com/">XKCD comic</a> for you.</h3>
  <a id = "random_xkcd_anchor">
    <figure>
      <figcaption id = "random_xkcd_caption"></figcaption>
      <img alt = "Random XKCD comic" id = "random_xkcd_img"/>
    </figure>
  </a>
</div>